.map {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow-box-main;

  @include media-tablet {
    margin-top: 20px;
  }
  @include media-mobile {
    padding: 10px 15px;
  } 

  &__iframe {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

  &__info {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color-font-secondary;
    font-weight: 600;

    &--lon {
      text-align: right;
    }
  }
}