$prime-gradient: linear-gradient(90deg,#ed145b 0,#7b31f4);
$shadow-btn: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
$shadow-btn-pressed: 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
$shadow-focus: inset 0 2px 6px rgba(255, 255, 255, 0.7), 0 1px 0 rgba(255, 255, 255, 0.5);
$shadow-box: 0 6px 18px 0 rgba(0,0,0,.06);

$color-main: #EEEEEE;
$color-main-sub: #757575;

$color-background-box: #CFD8DC;
$color-background: #fdeac3;
$color-accent: #97a1a7;
$color-hovered: #B0BEC5;


$color-font-primary: #3b3221;
$color-font-secondary: #3b3221;
$color-font-little: #9c8b71;