.forecast {
  padding: 5px 10px;
  box-shadow: $shadow-box-main;
  
  &__inner {
    height: 100%;
  }
  &__temp {
    align-self: center;
    font-size: 10rem;
    text-align: center;

    @include media-mobile {
      font-size: 6rem;
    }
  }

  &__img {
    object-fit: contain;
    align-self: flex-start;
  }

  &__weather {
    font-size: 3rem;
  }

  &__app [data-apptemp] {
    font-weight: bold;
  }
  &__wind [data-wind] {
    font-weight: bold;
  }
  &__humidity [data-hum] {
    font-weight: bold;
  }

  &__3days {
    margin-top: 30px;
    justify-content: space-between;

    &--weekday {
      color: $color-font-secondary;
      text-align: center;

      @include media-mobile {
        font-size: 1.3rem;
      }
    }
  
    &--weather {
      display: flex;
      justify-content: center;
      & span {
        align-self: center;
        text-align: center;
      }

      & img {
        width: 70px;

        @include media-mobile {
          width: 50px;
        }
      }
    } 
  }

  
}