.search-city {
  position: relative;
  display: flex;

  &__input {
    padding: 5px;
    margin-right: 10px;
    background: transparent;
    color: #fff;
    font-family: 'Pacifico', cursive;;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 2px;
    
    border: 1px solid $color-hovered;
    outline: none;
    text-transform: uppercase;

    &:hover, &:focus {
      box-shadow: $shadow-focus;
      color: $color-font-secondary;
    }
  }
}