.search-city {
  position: relative;
  display: flex;
  width: 75%;

  @include media-mobile {
    flex-direction: column;
  }

  &__input {
    min-width: 40%;
    padding: 5px;
    margin-right: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;

    background: transparent;
    border: 1px solid $color-hovered;
    outline: none;
    text-transform: uppercase;

    @include media-tablet {
      width: 100%;
  }

    &:hover, &:focus {
      box-shadow: $shadow-focus;
      color: $color-font-secondary;
    }
  }
}