.header {
    margin-top: 40px;
    &__block {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: $color-background-box;
        border-radius: 10px;

        @include media-tablet {
            flex-direction: column;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-tablet {
            margin-top: 20px;
        }
    }

    &__lang {
      margin-left: 20px;
      border: none;

      @include media-tablet {
        width: 75%;
    }

      &>div>* {
          cursor: pointer;
      }

      & label {
        outline: none !important;
        user-select: none;
      }
    }
}
.switch-toggle {
    background-color: transparent !important;
    text-transform: uppercase;
    
    & a {
        background-color: $color-accent;
        border: none;
        border-top: 1px solid $color-accent;
    }
}