.header {
    margin-top: 30px;
    
    &__block {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        
        background-color: $color-background-box;
        box-shadow: $shadow-box-main;
        border-radius: 10px;

        @include media-tablet {
            flex-direction: column;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-tablet {
            margin-top: 20px;
        }
    }
    &__deg {
        min-width: 68px;
    }
    &__lang {
        min-width: 116px;
    }
    &__lang, &__deg {
      margin-left: 20px;
      border: none;

      @include media-tablet {
        width: 75%;
    }

    @include media-mobile {
        width: unset;
        margin-left: 0;
    }

      &>div>* {
          cursor: pointer;
      }

      & label {
        outline: none !important;
        user-select: none;
      }
    }

    &__degrees {
        background-color: transparent !important;

        &>* {
            padding: 0px 10px;
            border: none;
            cursor: pointer;
            outline: none !important;
            user-select: none;
        }
        & a {
            background-color: $color-accent;
            border: none;
            border-top: 1px solid $color-accent;
        }
    }
}
.switch-toggle {
    background-color: transparent !important;
    text-transform: uppercase;
    
    & a {
        background-color: $color-accent;
        border: none;
        border-top: 1px solid $color-accent;
    }
}