*,
*:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    &:active, &:hover {
        outline: 0;
      };
}
li {
    list-style: none;
}
body {
  position: relative;
  background: $color-main;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.overlay {
    filter: blur(10px);
    user-select: none;
}

